<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>main</title>
</head>
<body>
        {% if user.is_authenticated %}
        <a href="{{ url_for('profile') }}">Profile</a>
        {% endif %}
        {% if not user.is_authenticated %}
        <a href="{{ url_for('login') }}">Login</a>
        <a href="{{ url_for('register') }}">Register</a>
        {% endif %}
        {% if user.is_authenticated %}
        <a href="{{ url_for('logout') }}">Logout</a>
        {% endif %}
<form action="{{ url_for('read_links')}}" method="post">
    <p>enter origin link</p>
    <input type="text" name="origin">
    <p>enter end of your short link, or we generete it ourselves</p>
    {{url}}<input type="text" name="short" value="{{next_id}}">
    <input type="submit">
    <br><br>
    <p>Links that was shorten by Guests</p>
    <table border="3">
    <tr><font size="4" color="red" face="Arial">
        <td><font color="red" face="Arial">id</font></td>
        <td><font color="red" face="Arial">origin</font></td>
        <td><font color="red" face="Arial">shorten</font></td>
        <td><font color="red" face="Arial">date of add</font></td>
        <td><font color="red" face="Arial">counter of use</font></td>
        </font>
    </tr>
    {% for link in data%}
    <tr>
        <td>{{link.id}}</td>
        <td>{{link.origin_link}}</td>
        <td><a href="{{url}}{{link.short_link}}">{{url}}{{link.short_link}}</a></td>
        <td>{{link.date_create}}</td>
        <td>{{link.counter}}</td>
    </tr>
    {% endfor %}
</table>

</form>
</body>
</html>