<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>todo</title>
</head>
<body>

<form action="{{ url_for('read_todo', priority=priority)}}" method="post">
    <p>enter todo text</p>
    <input type="text" name="text">
    <p>select priority</p>
    <input type="radio" name="priority" value="1" checked>1 - red<br>
    <input type="radio" name="priority" value="2">2 - yellow<br>
    <input type="radio" name="priority" value="3">3 - green<br>
    <input type="submit"></form>
    <br><br>

    <a href="{{ url_for('read_todo', priority=1)}}"><font color="red">filter red priority</font></a>
    <a href="{{ url_for('read_todo', priority=2)}}"><font color="gold">filter yellow priority</font></a>
    <a href="{{ url_for('read_todo', priority=3)}}"><font color="green">filter green priority</font></a>
    <a href="{{ url_for('read_todo')}}">without filter</a>

    <table border="3">
        <tr><font size="4" color="red" face="Arial"></font>
        <td><font color="red" face="Arial">text todo</font></td>
        <td><font color="red" face="Arial">priority</font></td>
        <td><font color="red" face="Arial">date of create</font></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    {% for e in data%}
    <tr>

        <td>{{e.text}}</td>
        {% if e.priority==1%}
        <td><font size="4" color="red" face="Arial">{{e.priority}}</font></td>
        {% elif e.priority==2%}
        <td><font size="4" color="gold" face="Arial">{{e.priority}}</font></td>
        {% else %}
        <td><font size="4" color="green" face="Arial">{{e.priority}}</font></td>
        {%endif%}
        <td>{{e.date_create}}</td>
        <td><form action="{{ url_for('delete', id=e.id, priority=priority)}}" method="post">
            <button>delete</button></form></td>
        <td><form action="{{ url_for('update', id=e.id, text=e.text, priority_old=e.priority, priority=priority)}}" method="get">
            <button>update</button></form></td>
        <td><form action="{{ url_for('up', display=e.display_priority, priority=priority)}}" method="post">
            <button>up</button></form></td>
       <td><form action="{{ url_for('down', display=e.display_priority, priority=priority)}}" method="post">
            <button>down</button></form></td>
        {% if e.done==False%}
            <td><form action="{{ url_for('done', id=e.id, priority=priority)}}" method="post">
                <button>mark as done</button></form></td>
        {% else%}
            <td><form action="{{ url_for('done', id=e.id, priority=priority)}}" method="post">
                <button><font color="green">DONE</font></button></form></td>
        {% endif%}
    </tr>
    {% endfor %}
</table>



</body>
</html>