<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>result</title>
</head>
<body>
{% if result==1%}
    <p>link {{link.origin_link}} is already shorten to {{url}}{{link.short_link}}'</p>
{% elif result==2%}
    <p>short link {{url}}{{link.short_link}} is already used</p>
{% elif result==3%}
    <p>origin link {{link.origin_link}} shorten to {{url}}{{link.short_link}}</p>
{% elif result==4%}
    <p>there is not short adress : {{url}}</p>
{% endif%}
<a href="{{ url_for('read_links')}}">Go Home</a>
</body>
</html>